<!DOCTYPE HTML>
<html>
<head>
	<title>萍水相逢</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="main.css" type="text/css" />
	<link rel="stylesheet" href="managerform.css" type="text/css" />
</head>
<body class="is-preload">

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="index">萍水相逢</a></h1>
					<nav class="links">
						<ul>
							<li><a href="activity_login">活動</a></li>
							<li><a href="chatroom">聊天室</a></li>
							<li><a href="personality">個人主頁</a></li>
						</ul>
					</nav>
					<nav class="main">
						<ul>
							<li class="menu">
								<a class="fa-bars" href="#menu">Menu</a>
							</li>
						</ul>
					</nav>
				</header>

			    <!-- Menu -->
				    <section id="menu">

					<!-- Actions -->
						<section>
							<ul class="actions stacked">
								<li><a href="/" class="button large fit">Log Out</a></li>
							</ul>
						</section>
					</section>
                    
			<!-- Main -->
		    	<div id="main">     
					<article class="post">
						<form>
							<div class="title">
								<h1>活動回饋</h1>
							    <hr>
							    <label><b>活動名稱</b></label>
							    <input value="【2020台中跨年】跨年晚會-太平區">
							    <label><b>郵件</b></label>
							    <input type="text" placeholder="Enter Email">
							    <label><b>手機號碼</b></label>
								<input type="text" placeholder="Enter Mobile Phone">
							    <label><b>需改進的地方</b></label>
								<input type="text" placeholder="Enter Tell Us">	
								<label><b>想說的話</b></label>
								<input type="text" placeholder="Enter Comment">
								<br><br>
								<ul class="actions fit">
									<li><a type="button" onclick="Giveup_Feedback()" class="button fit">返回</a></li>
									<li><a type="button" onclick="Complete_Feedback()" class="button fit">完成</a></li>
								</ul>
							</div>
						  </form>
					</article>
		    	</div>                             
		</div>

	<!-- Scripts -->
		<script src="jquery.min.js"></script>
		<script src="browser.min.js"></script>
		<script src="breakpoints.min.js"></script>
		<script src="util.js"></script>
		<script src="main.js"></script>
		<script src="showmore.js"></script>
		<script src="activity_m.js"></script>
		<script src="alert.js"></script>
	</body>
</html>
