<!DOCTYPE HTML>
<html>
<head>
	<title>萍水相逢</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="main.css" type="text/css" />
	<link rel="stylesheet" href="managerform.css" type="text/css" />
</head>
<body class="is-preload">

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="index">萍水相逢</a></h1>
					<nav class="links">
						<ul>
							<li><a href="activity_login">活動</a></li>
							<li><a href="chatroom">聊天室</a></li>
							<li><a href="personality">個人主頁</a></li>
						</ul>
					</nav>
					<nav class="main">
						<ul>
							<li class="menu">
								<a class="fa-bars" href="#menu">Menu</a>
							</li>
						</ul>
					</nav>
				</header>

			    <!-- Menu -->
				    <section id="menu">

					<!-- Actions -->
						<section>
							<ul class="actions stacked">
								<li><a href="/" class="button large fit">Log Out</a></li>
							</ul>
						</section>
					</section>
                    
			<!-- Main -->
		    	<div id="main">     
					<article class="post">
						<form>
							<div class="title">
								<h1>修改活動</h1>
							    <hr>
							    <label><b>大標題</b></label>
							    <input type="text" placeholder="Enter Big Title" value="【2020台中跨年】跨年晚會-太平區">
							    <label><b>小標題</b></label>
							    <input type="text" placeholder="Enter Small Title" value="「SHINING！嗨玩台中2020跨年狂歡夜」">
							    <label><b>時間</b></label>
								<input type="text" placeholder="Enter Date" value="2019年12月31號">
							    <label><b>地點</b></label>
								<input type="text" placeholder="Enter place" value="太平區運動場">	
								<label><b>介紹</b></label>
								<input type="text" placeholder="Enter Introduction" value="號稱全台最盛大的跨年狂歡活動，就在台中了！因為今年主辦單位擴大規劃，主要會分成「后里」與「太平」兩個現場，一個在后里的麗寶樂園第二停車場，另一個則是在太平運動場舉行，兩個地方同步跨年，邀請的卡司也超過40組，讓兩地的跨年氣氛，歡騰蔓延至整個大台中地區！其中后里現場晚上6點就開始，除了獨家演出的王心凌、陪倒數的徐佳瑩，還有首度於跨年開唱的綜藝天王吳宗憲。">
								<b>上傳海報</b>
								<input type="file">
								<br><br>
								<ul class="actions fit">
									<li><a type="button" onclick="Giveup_change()" class="button fit">返回</a></li>
									<li><a type="button" onclick="Complete_change()" class="button fit">完成</a></li>
								</ul>
							</div>
						  </form>
					</article>
		    	</div>                             
		</div>

	<!-- Scripts -->
		<script src="jquery.min.js"></script>
		<script src="browser.min.js"></script>
		<script src="breakpoints.min.js"></script>
		<script src="util.js"></script>
		<script src="main.js"></script>
		<script src="showmore.js"></script>
		<script src="activity_m.js"></script>
		<script src="alert.js"></script>
	</body>
</html>
