<!DOCTYPE HTML>
<html>
<head>
	<title>萍水相逢</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="main.css" type="text/css" />
</head>
<body class="is-preload">

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="index">萍水相逢</a></h1>
					<nav class="links">
						<ul>
							<li><a href="activity_manager_on">活動</a></li>
							<li><a href="chatroom">聊天室</a></li>
							<li><a href="personality">個人主頁</a></li>
						</ul>
					</nav>
					<nav class="main">
						<ul>
							<li class="search">
								<a class="fa-search" href="#search">Search</a>
								<form id="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</li>
							<li class="menu">
								<a class="fa-bars" href="#menu">Menu</a>
							</li>
						</ul>
					</nav>
				</header>

			    <!-- Menu -->
				    <section id="menu">

					<!-- Actions -->
						<section>
							<ul class="actions stacked">
								<li><a href="/" class="button large fit">Log Out</a></li>
							</ul>
						</section>
					</section>
                    
			<!-- Main -->
		    	<div id="main">                                  
	
				<!-- tital -->
					<header>
						<div class="title">
							<div>
								<ul class="actions fit">
						    		&emsp;
					    			<li><a href="activity_login" class="button fit">最新活動</a></li>
									<li><a href="activity_coming_on" class="button fit">近期活動</a></li>
									<li><a href="activity_old_on" class="button fit">歷史活動</a></li>
									<li><a onclick="ok_login()" class="button fit">活動管理</a></li>
								</ul>
							</div>
						</div>
	    	        </header> 
                        
                <!-- Post -->
					<ul class="showMoreNChildren" pagesize="1">
						<article class="post">
							<header>
								<div class="title">
									<h2><a href="https://udn.com/news/story/7934/4172685" target="_blank">2019台中耶誕夢想世界</a></h2>
									<p> 集結迪士尼最熱門的角色，全化身燈節裝置。 </p>
								</div>
								<div class="meta">
									<time class="published" datetime="2019-12-6">December 6, 2019</time>
									<a href="#" class="author"><span class="name">Jane Doe</span><img src="avatar.jpg" alt="" /></a>
								</div>
							</header>
							<a href="https://udn.com/news/story/7934/4172685" target="_blank" class="image featured"><img src="https://pgw.udn.com.tw/gw/photo.php?u=https://uc.udn.com.tw/photo/2019/11/18/99/7083556.jpg&x=&y=&sw=&sh=&exp=3600" alt="" /></a>
							<p>日期&ensp;:&ensp;2019年12月6號&ensp;~&ensp;2020年1月1號<br>地點&ensp;:&ensp;台中舊火車站站前廣場、綠川水岸廊道、柳川水岸步道</p>
							<p>2019台中耶誕夢想世界大走迪士尼風，以擁有百年歷史的舊火車站站前廣場、綠川水岸廊道與柳川水岸步道等3大展區為主，可見到米奇、米妮、小熊維尼、唐老鴨、白雪公主等經典角色，化身成耶誕燈節裝置。此外，台中耶誕夢想世界在活動期間，將安排燈光秀與音樂演出，粉絲可把握時間前往。</p>
							<div>
							    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.938177065868!2d120.68502426498887!3d24.138809184399367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3d78c61f2f4e621!2sTaichung%20Old%20station!5e0!3m2!1sen!2stw!4v1577342942017!5m2!1sen!2stw" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
							</div>
							<footer>
								<ul class="stats">
									<li><a href="https://www.google.com/maps/place/Taichung+Old+station/@24.1388092,120.6850243,17z/data=!4m8!1m2!2m1!1z6IiK5Y-w5Lit54Gr6LuK56uZ56uZ5YmN5buj5aC0!3m4!1s0x0:0x3d78c61f2f4e621!8m2!3d24.1369252!4d120.6852329" target="_blank">地址:400台中市中區台灣大道一段1號</a></li>
									<li><a href="#" class="icon solid fa-heart">819</a></li>
									<li><a href="#" class="icon solid fa-comment">673</a></li>
									<li><a href="#">回饋</a></li>
								</ul>
							</footer>
						</article>
					</ul>
				</div>
		</div>

	<!-- Scripts -->
		<script src="jquery.min.js"></script>
		<script src="browser.min.js"></script>
		<script src="breakpoints.min.js"></script>
		<script src="util.js"></script>
		<script src="main.js"></script>
		<script src="showmore.js"></script>
		<script src="activity_m.js"></script>
		<script src="alert.js"></script>
	</body>
</html>
