<!DOCTYPE HTML>
<html>
<!--CSS，加載在 head 之前(modal)-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" >
 
<!--JavaScript，加載在 body 之前-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" ></script>
<head>
	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="main.css" type="text/css" />
    <title>Go to Chatroom</title>
    
    
    
    
</head>
<body class="is-preload">

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="index">萍水相逢</a></h1>
					<nav class="links">
						<ul>
							<li><a href="activity">活動</a></li>
							<li><a href="chatroom">聊天室</a></li>
							<li><a href="personality">個人主頁</a></li>
						</ul>
					</nav>
				</header>
                <div  style="text-align:center;">
                    <h2>前往聊天室!!</h2>
                    <a href="localhost:3000">點我去聊天室</a>
                </div>
				<script src="jquery.min.js"></script>
		        <script src="browser.min.js"></script>
		        <script src="breakpoints.min.js"></script>
		        <script src="util.js"></script>
                <script src="main_2.js"></script>
                    
            
                
			</div>

		
	</body>
</html>
