<!DOCTYPE html>
<html>
    <head>
        <title>萍水相逢</title>
		<meta charset="utf-8" />
        <link rel="stylesheet" href="main.css" type="text/css" />
    </head>
    <body>
		<div style=" text-align:center">
        <h2 >修改成功!</h2>
		<a href="index">點我回首頁</a>
		</div>
        <script src="jquery.min.js"></script>
		<script src="browser.min.js"></script>
		<script src="breakpoints.min.js"></script>
		<script src="util.js"></script>
        <script src="main_2.js"></script>
    </body>
</html>