<!DOCTYPE HTML>
<html>
	<head>
		<title>萍水相逢</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="main.css" />
        <script>
            var check = window.confirm("您即將進入");
            if(check == true){
                window.location("index");
                check = 1;
            }
            else{
                window.history.back(-1);
                check = 0;
            }
        </script>
	</head>
	<body class="single is-preload">
			<div id="wrapper">
				<header id="header">
					<h1><a href="index">萍水相逢</a></h1>
					<nav class="links">
						<ul>
							<li><a href="activity">活動</a></li>
							<li><a href="chatroom">聊天室</a></li>
							<li><a href="personality">個人主頁</a></li>
						</ul>
					</nav>
					<nav class="main">
						<ul>
							<li class="search">
								<a class="fa-search" href="#search">Search</a>
								<form id="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</li>
							<li class="menu">
								<a class="fa-bars" href="#menu">Menu</a>
							</li>
						</ul>
					</nav>
				</header>
				<section id="menu">
						<section>
							<form class="search" method="get" action="#">
								<input type="text" name="query" placeholder="Search" />
							</form>
						</section>
						<section>
							<ul class="actions stacked">
								<li><a href="/" class="button large fit">Log tut</a></li>
							</ul>
						</section>
				</section>
				<div id="main">
					<article class="post">
						<header>
							<div class="title">
								<h2><a href="#">研究顯示：打飛機治百病</a></h2>
								<p>英國研究指出，嚕管次數與健康程度成正比</p>
							</div>
							<div class="meta">
								<time class="published" datetime="2019-10-22">October 22, 2019</time>
								<a href="#" class="author"><span class="name">老司機</span><img src="avatar.jpg" alt="" /></a>
							</div>
						</header>
						<span class="image featured"><img src="pic03.jpg" alt="" /></span>
						<p>打手槍是許多男性排解慾望的方式，但到底多久打一次手槍比較適當呢，唐代「藥王」孫思邈曾依照年齡給出建議，60歲就別再打了。
							香港《蘋果日報》報導，對於是否需要禁慾以保健康，香港中醫師徐擇昌表示，中醫並不主張禁慾，而是主張「慾不可絕，慾不可縱」，適當的性生活對人的健康有益，但若太過沉迷，就會傷害中醫所謂的「腎」。

							綜合媒體報導，另有不少醫生推薦射精頻率公式，也就是將年齡的十位數字乘以9，得出的答案十位數為週，個位數則為次數，例如30歲男子就是「3*9＝27」、2週7次。</p>
						<footer>
							<ul class="stats">
								<li><div class="like_button3"><button><a class="icon solid fa-heart" id="like3"><span class="count3">42</span></a></button></div class="like_button"></li>
								<li><a href="public_some" class="icon solid fa-comment">11</a></li>
							</ul>
						</footer>
					</article>
				</div>
			</div>

		<!-- 引用腳本 -->
			<script src="jquery.min.js"></script>
			<script src="browser.min.js"></script>
			<script src="breakpoints.min.js"></script>
			<script src="util.js"></script>
			<script src="main.js"></script>
			<script src="click_like.js"></script>
	</body>
</html>