<!DOCTYPE html>
<html>
    <head>
        <title>萍水相逢</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="main.css" type="text/css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <script>
            function discard(){
                window.history.back(-1);
            }
        </script>
    </head>
    <body class="is-preload">
        <div id="wrapper">
            <header id="header">
                <h1><a href="/index">萍水相逢</a></h1>
					<nav class="links">
						<!--<ul>
							<li><a href="#">活動</a></li>
							<li><a href="#">聊天室</a></li>
							<li><a href="personality">個人主頁</a></li>
							<li><a href="#">Tempus</a></li>
							<li><a href="#">Adipiscing</a></li>
						</ul>-->
					</nav>
            </header>

            </section>
            <div class="container">
				<h5 class="card-title text-center">發表留言</h5>
					<form class="form-signin" action="public_success" method="POST">
                        <textarea  cols="50" rows="5" placeholder="留言..."></textarea>
                        <input type="submit" />
                        <input type="button" id="press" onclick="discard()" value="取消"/>
                    </form>   
			</div>
        </div>
        <script src="jquery.min.js"></script>
		<script src="browser.min.js"></script>
		<script src="breakpoints.min.js"></script>
		<script src="util.js"></script>
		<script src="main_2.js"></script>
    </body>
</html>