<!DOCTYPE HTML>
<html>
	<head>
		<title>萍水相逢</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index">萍水相逢</a></h1>
						<nav class="links">
							<ul>
								<li><a href="activity">活動</a></li>
								<li><a href="chatroom">聊天室</a></li>
								<li><a href="personality">個人主頁</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Actions -->
							<section>
								<ul class="actions stacked">
									<li><a href="#" class="button large fit">Log Out</a></li>
								</ul>
							</section>

					</section>
                    
				<!-- Main -->
					<div id="main">                                  
						<!-- tital -->
								<header>
									<div class="title">
										<h2>發表影音</h2>
										<p>( ~ → ω → )~</p>
									</div>
								</header>
	
						<!-- Post -->
                        <article class="post">
                            <form action="http://localhost:3001/upload" method="post" enctype="multipart/form-data">
                            <header>
                                <div class="video featured">
                                    <!--選擇圖檔(自訂格式)-->
                                    <input type="file" name="file" onchange = "readURL(this)" targetid = "preview_progressbarTW_video" accept="video/mp4, video/mov, video/wmv"/><br>
                                </div>
                            </header>
                            <h3>預覽：(mp4)</h3>
                            <video id="preview_progressbarTW_video" preload controls poster="" width="640" height="360">
                                <source src="#" type="video/mp4" />
                                <p>您的瀏覽器不支援HTML 5影片播放video。</p>
                            </video>
                            <footer>
                                <ul class="actions">
									<li><input type="submit" name="submit" id="submit" value="upload"/></li>
									<li><input type="button" value="discard"  onclick="location.href='discard_v'"/></li>
                                </ul>
                            </footer>
                            </form>
                        </article>

					</div>
			</div>

		<!-- Scripts -->
			<script src="jquery.min.js"></script>
			<script src="browser.min.js"></script>
			<script src="breakpoints.min.js"></script>
			<script src="util.js"></script>
			<script src="main.js"></script>
            <script>
                function readURL(input){
                
                  if(input.files && input.files[0]){
                
                    var videoTagID = input.getAttribute("targetID");
                    var reader = new FileReader();
                
                    reader.onload = function (e) {
                
                       var video = document.getElementById(videoTagID);
                       video.setAttribute("src", e.target.result)
                
                    }
                    reader.readAsDataURL(input.files[0]);
                  }
                }
            </script>
	</body>
</html>
